@media (max-width: 1000px) {
	.nav-link ul li {
		display: block;
	}
	.nav-link ul li a {
	    color: #fff;
	    text-decoration: none;
	    font-size: 40px;
	    margin: 15;
	}
	.nav-link ul {
		padding: 100px;
	}
	.nav-link {
		display: none;
		position: absolute;
		background: #a12cca;
		height: 100vh;
		width: 700px;
		top: 0;
		right: 0px;
		text-align: left;
		z-index: 2;
		transition: 2s;
	}
	nav .fa-bars {
		text-align: right;
	}
	nav .fa {
		display: block;
		color: #fff;
		font-size: 60px;
		margin: 20px;
		cursor: pointer;
	}
}