@media (max-width: 1000px) {
	.text-box h1 {
    	color: #fff;
    	font-size: 35px;
	}
	.nav-link ul li {
		display: block;
	}
	.nav-link {
		position: absolute;
		background: #a12cca;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa-bars {
		text-align: right;
	}
	nav .fa {
		display: block;
		color: #fff;
		font-size: 22px;
		margin: 10px;
		cursor: pointer;
	}
	.nav-link ul {
		padding: 30px;
	}
}